services:
  biko-frontend:
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 2G
    build:
      context: .
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    container_name: biko-frontend
    restart: always
    networks:
      - proxy
    ports:
      - "3000:3000" 
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
      NEXT_PUBLIC_GERENCIANET_ACCOUNT_ID: ${NEXT_PUBLIC_GERENCIANET_ACCOUNT_ID}

networks:
  proxy:
    external: true
