services:
  biko-frontend:
    image: ghcr.io/seu-usuario/biko-frontend:latest
    container_name: biko-frontend
    restart: always
    networks:
      - proxy
    ports:
      - "3000:3000"
    env_file:
      - .env

networks:
  proxy:
    external: true
